UPDATE Pracownicy SET Specjalizacja='OBIEKT_BIUROWY' WHERE ID_PRACOWNIK=100
UPDATE Pracownicy SET Specjalizacja='OBIEKT_MIESZKALNY' WHERE ID_PRACOWNIK=101
UPDATE Pracownicy SET Specjalizacja='OBIEKT_USLUGOWY' WHERE ID_PRACOWNIK=102
UPDATE Pracownicy SET Specjalizacja='OBIEKT_BIUROWY' WHERE ID_PRACOWNIK=103
UPDATE Pracownicy SET Specjalizacja='OBIEKT_USLUGOWY' WHERE ID_PRACOWNIK=104
UPDATE Pracownicy SET Specjalizacja='OBIEKT_BIUROWY' WHERE ID_PRACOWNIK=105
UPDATE Pracownicy SET Specjalizacja='OBIEKT_BIUROWY' WHERE ID_PRACOWNIK=106
UPDATE Pracownicy SET Specjalizacja='OBIEKT_USLUGOWY' WHERE ID_PRACOWNIK=107
UPDATE Pracownicy SET Specjalizacja='OBIEKT_USLUGOWY' WHERE ID_PRACOWNIK=108
UPDATE Pracownicy SET Specjalizacja='OBIEKT_BIUROWY' WHERE ID_PRACOWNIK=109
UPDATE Pracownicy SET Specjalizacja='OBIEKT_USLUGOWY' WHERE ID_PRACOWNIK=110
UPDATE Pracownicy SET Specjalizacja='OBIEKT_MIESZKALNY' WHERE ID_PRACOWNIK=111
UPDATE Pracownicy SET Specjalizacja='OBIEKT_USLUGOWY' WHERE ID_PRACOWNIK=112
UPDATE Pracownicy SET Specjalizacja='OBIEKT_BIUROWY' WHERE ID_PRACOWNIK=113
UPDATE Pracownicy SET Specjalizacja='OBIEKT_BIUROWY' WHERE ID_PRACOWNIK=114
UPDATE Pracownicy SET Specjalizacja='OBIEKT_USLUGOWY' WHERE ID_PRACOWNIK=115
UPDATE Pracownicy SET Specjalizacja='OBIEKT_BIUROWY' WHERE ID_PRACOWNIK=116
UPDATE Pracownicy SET Specjalizacja='OBIEKT_USLUGOWY' WHERE ID_PRACOWNIK=117
UPDATE Pracownicy SET Specjalizacja='OBIEKT_USLUGOWY' WHERE ID_PRACOWNIK=118
UPDATE Pracownicy SET Specjalizacja='OBIEKT_MIESZKALNY' WHERE ID_PRACOWNIK=119
UPDATE Pracownicy SET Specjalizacja='OBIEKT_USLUGOWY' WHERE ID_PRACOWNIK=120
